@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

/* Basic reset for padding and margin */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
}

html {
  font-size: 32px;
}

body {
  padding: 0.5rem 1.5rem 2rem 1.5rem;
  background-color: #f5f1ed;
}

/* Container styling */
.container {
  width: 100%;
  margin: auto;
  padding: 20px;
  max-width: 2000px;
}

/* Title styling */
h1 {
  font-weight: 300;
  font-size: 3rem;
  margin-bottom: 0.75rem;
  line-height: 3rem;
}

h2 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-bottom: 0.25rem;
}

h3 {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 0.75rem;
}

p {
  line-height: 1.7rem;
  font-size: 1rem;
}

p + p {
  margin-top: 2rem;
}

.button {
  color: #000;
  padding: 0.75rem 1.5rem 0.75rem 1rem;
  border: 1px solid #000;
  text-decoration: none;
  border-radius: 10px;
  display: inline-block;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #000;
  color: #fff;
}

.inline-button {
  color: #000;
}

.column img.icon-download {
  vertical-align: middle;
  margin-right: 0.3rem;
  width: 1.4rem;
  border: none;
}

.material-symbols-outlined {
  vertical-align: middle;
  margin-right: 0.3rem;
  position: relative;
  top: -1px;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

body .material-symbols-outlined {
  font-size: 1.4rem;
}

ul.contact-info {
  font-weight: 500;
  font-size: 0.8rem;
  margin-bottom: 5rem;
  list-style-type: none;
}

ul.contact-info li:first-child::before {
  display: inline-block;
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  background-color: #000;
  margin-right: 2rem;
}

.contact-info li {
  margin-left: 2.5rem;
}

.contact-info li:first-child {
  margin-left: 0rem;
}

.row.caption {
  margin-bottom: 7rem;
}

.row.title-block {
  margin-bottom: 5rem;
}

.title-block .column {
  flex: 1;
}

.title-block .column:first-child {
  flex: 2;
}

.title-block h2 {
  line-height: 1rem;
  margin-bottom: 2rem;
  color: #555555;
}

.title-block p {
  font-size: 1.2rem;
  line-height: 1.9rem;
}

.title-block p a {
  font-size: 1rem;
}

.name-and-title {
  background-image: url("images/jp.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  padding-left: 6rem;
}

/* Base styles for the columns */
.column {
  margin: 0 0 1.5rem 0;
  box-sizing: border-box;
  flex-basis: 100%;
}

.column img {
  width: 100%;
  height: auto;
  border: 0.5px solid #dedede;
  border-radius: 12px;
}

.placeholder {
  display: none;
}

img.headshot {
  float: left;
  width: 5rem;
  height: 5rem;
  border: none;
  margin-right: 1rem;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 4rem;
}

/* This applies when the screen width is 900px or more */
@media only screen and (min-width: 1000px) {
  .row {
    display: flex; /* Use Flexbox for the container */
    gap: 2rem; /* Space between columns */
  }
  .placeholder {
    display: block;
  }
  .row.title-block {
    margin-bottom: 10rem;
  }
  body {
    padding: 0.5rem 4rem 2rem 4rem;
  }
  html {
    font-size: 16px;
  }
  .column {
    margin: 0 0 2rem 0;
  }
  .column img {
    border-radius: 6px;
  }
  a {
    border-radius: 6px;
  }
  li {
    display: inline-block;
  }
}

/* This applies when the screen width is 1700px or more */
@media screen and (min-width: 1700px) {
  .title-block .column {
    flex: 1;
  }

  .title-block .column:first-child {
    flex: 1;
  }
}

/* Error page styles */

.error div {
  margin: auto;
}

.error {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.x {
  box-shadow: 0 0 0 1em black, 0 1em 0 1em black, -2.5em 1.5em 0 0.5em black,
    2.5em 1.5em 0 0.5em black, -3em -3em 0 0 black, 3em -3em 0 0 black,
    -2em -2em 0 0 black, 2em -2em 0 0 black, -3em -1em 0 0 black,
    -2em -1em 0 0 black, 2em -1em 0 0 black, 3em -1em 0 0 black,
    -4em 0 0 0 black, -3em 0 0 0 black, 3em 0 0 0 black, 4em 0 0 0 black,
    -5em 1em 0 0 black, -4em 1em 0 0 black, 4em 1em 0 0 black, 5em 1em 0 0 black,
    -5em 2em 0 0 black, 5em 2em 0 0 black, -5em 3em 0 0 black,
    -3em 3em 0 0 black, 3em 3em 0 0 black, 5em 3em 0 0 black, -2em 4em 0 0 black,
    -1em 4em 0 0 black, 1em 4em 0 0 black, 2em 4em 0 0 black;
  background: black;
  width: 1em;
  height: 1em;
  overflow: hidden;
  position: relative;
  top: -6rem;
}
